<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h2>Log In</h2>

    <form
      class="form-horizontal margin-above"
      ng-submit="logIn.submit($event)"
      name="logInForm"
      novalidate>
      <div
        class="form-group"
        ng-class="{ 'has-error' : logInForm.email.$invalid && !logInForm.email.$pristine }">
        <label for="email" class="control-label col-sm-2">Email</label>

        <div class="col-sm-10">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="test@example.com"
            ng-model="logIn.input.email"
            required>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="control-label col-sm-2">Password</label>

        <div class="col-sm-10">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            ng-model="logIn.input.password"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input
            type="submit"
            name="Submit"
            value="Submit"
            ng-disabled="logInForm.$invalid"
            class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
