<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h2>Sign Up</h2>

    <form
      class="form-horizontal margin-above"
      name="signUpForm"
      ng-submit="signUp.submit($event)"
      novalidate>
      <div
        class="form-group"
        ng-class="{ 'has-error' : signUpForm.name.$invalid && !signUpForm.name.$pristine }">
        <label for="name" class="control-label col-sm-2">Name</label>

        <div class="col-sm-10">
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="First name Last name"
            ng-model="signUp.input.name"
            required>
        </div>
      </div>

      <div
        class="form-group"
        ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
        <label for="email" class="control-label col-sm-2">Email</label>

        <div class="col-sm-10">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="test@example.com"
            ng-model="signUp.input.email"
            required>
        </div>
      </div>

      <div
        class="form-group"
        ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
        <label for="password" class="control-label col-sm-2">Password</label>

        <div class="col-sm-10">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="8 or more characters"
            ng-model="signUp.input.password"
            ng-minlength="8"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input
            type="submit"
            name="Submit"
            value="Submit"
            ng-disabled="signUpForm.$invalid"
            class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
