<a href="/tasks/new" class="pull-right btn btn-primary">Add a Task</a>
<a href="#" class="pull-right btn btn-default">Export</a>

<h1>Tasks</h1>

<div>
  <div>
    <form class="form-inline">
      <div class="form-group">
        <label for="from">From</label>
        <input ng-model="tasks.input.from" type="date" name="from" id="from" class="form-control">
      </div>

      <div class="form-group">
        <label for="to">To</label>
        <input ng-model="tasks.input.to" type="date" name="to" id="to" class="form-control">
      </div>
    </form>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>
          <a
            href="#"
            ng-click="tasks.orderToggle()"
            ng-bind-html="tasks.dateText"
            id="date-toggle"></a>
        </th>
        <th>Hours</th>
      </tr>
    </thead>

    <tbody>
      <tr
        class="{{ task.css_class }}"
        ng-repeat="task in tasks.collection.all | orderBy: tasks.dateOrder | fromTo : tasks.input.from : tasks.input.to ">
        <td><a href="/tasks/edit/{{ task.id }}">{{ task.description }}</a></td>
        <td>{{ task.date | date : 'MM-dd-yyyy' }}</td>
        <td>{{ task.hour }}</td>
      </tr>
    </tbody>
  </table>
</div>
