<!DOCTYPE html>
<html lang="en" ng-app="projectApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= angularjs_include_tag :google, modules: [:sanitize, :route] %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>Time Management System</title>
    <base href="/">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="MainCtrl as main">
    <div class="p-site-notification" ng-show="main.notification.message">
      <div class="alert alert-info" role="alert">
        {{ main.notification.message }}
      </div>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Time Management System</a>
        </div>

        <ul class="nav navbar-nav">
          <li
            ng-class="{ active: '/tasks' == main.currentPath }"
            ng-show="main.user.isLoggedIn">
            <a href="/tasks">Tasks</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!main.user.isLoggedIn">
            <a href="/sign_up">Sign Up</a>
          </li>

          <li ng-show="!main.user.isLoggedIn">
            <a href="/log_in">Log In</a>
          </li>

          <li ng-show="main.user.isLoggedIn" class="disabled">
            <a href="#"><i>Logged in as <b>{{ main.user.name }}</b></i></a>
          </li>

          <li
            ng-class="{ active: '/settings' == main.currentPath }"
            ng-show="main.user.isLoggedIn">
            <a href="/settings">
              Preferred working hour:
              <b>{{ main.user.preferred_working_hour }}</b>
            </a>
          </li>

          <li ng-show="main.user.isLoggedIn">
            <a
              href="#"
              ng-controller="LogOutCtrl as logOut"
              ng-click="logOut.logOut()">
              Log Out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div ng-view></div>
    </div>
  </body>
</html>
